* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.Whole {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: center;
}
.Whole video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 9/16) {
    .Whole video {
        width: 100%;
        height: auto;
    }
    body video {
    width: 100%;
    height: auto;
    }
}
.v1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -3;
}
body {
    min-height: 750px;
    display: flex;
    flex-direction: column;
    position: relative;

    background-image: linear-gradient(
        315deg,
        hsl(0deg 0% 21%) 0%,
        hsl(210deg 2% 25%) 8%,
        hsl(210deg 3% 29%) 17%,
        hsl(210deg 4% 33%) 25%,
        hsl(210deg 5% 37%) 33%,
        hsl(209deg 5% 41%) 42%,
        hsl(209deg 6% 45%) 50%,
        hsl(209deg 7% 50%) 58%,
        hsl(209deg 8% 54%) 67%,
        hsl(209deg 11% 59%) 75%,
        hsl(209deg 13% 63%) 83%,
        hsl(209deg 17% 68%) 92%,
        hsl(209deg 22% 72%) 100%
    );
}
.container2 {
    height: 104vh;
    width: 100%;
}
.container3 {
    height: 52vh;
    width: 100%;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    margin-top: 10vh;

    height: 90vh;
    width: 100%;
}

.header1 {
    height: 10%;
    width: 95%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pcontainer {
    height: 100%;
}
.pcontainer1{
    width: 60%;
    position: absolute;
    left: 0;
    align-content: space-around;
}
.header1{
    justify-content: space-between;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 115px;
    width: 100%;
    right: 0;
    left: 0;

    
}
.header-left {
    width: 20%;
    height: 100%;

    justify-content: center;
    align-items: center;
    display: flex;

    left: 0;
}
.header-right {
    width: 60%;
    height: 100%;

    right: 0;
}
.sul {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100%;
    margin: 0;
    list-style: none;
    width: 30%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    transform: translateX(150%);

    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 12px;
}
.li {
    height: 130px;
    width: 70%;

    display: flex;
    justify-content:center;
    align-items: center;

    &:nth-of-type(1) {
    margin-bottom: 2em;
    }
}
a.liitems {
    height: 90%;
    width: 90%;

    display: flex;
    justify-content:center;
    align-items: center;
}
.sback {
    width: 90%;
    height: 90%;

    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
}
.sbackclick {
    width: 90%;
    height: 100%;
    left: 0;

    display: flex;
    justify-content:center;
    align-items: center;

    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 40% 60% 35% 65% / 57% 75% 25% 43%;
    filter: drop-shadow(0 10px 18px rgba(220, 244, 253, 0.863));
}
.content1, .content2, .content3, .content4 {
    width: 100%;
    height: 16%;
}
.content56 {
    width: 100%;
    height: 29%;
}
.content5, .content6 {
}
.content5 { height: 20%; width: 100%;} 
.content6 { height: 80%; width: 100%;}
.content3, .content4 {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontent1, .subcontent2 {
    position: absolute;
}
.subcontent11, .subcontent21 {
    width: 30%;
    height: 100%;
    left: 0;
}
.subcontent12, .subcontent22 {
    width: 70%;
    height: 100%;
    right: 0;
}
.subcontent, .content2 {
    position: relative;
    margin: .4em;
}
.content5, .content6 {
    margin-left: 5em;
}
.text {
    position: absolute;
}
.text1 {
    bottom: 0;
    height: 60%;
    width: 29%;
    text-align: right;



}
.text2 {
    width: 100%;
    height: 90%; 
    align-content: center;
    text-align: right;

    
    
}
.text3 {
    width: 100%;
    height: 90%;
    align-content: center;



}
.text4 {
    width: 100%;
    height: 70%;



}
.text5 {
    height: 100%;
    width: 100%;
    text-align: left;

}
.text6 {
    width: 40%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center

}
a.menu {
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 655px) {
    .container2 {
        background-image: linear-gradient(
            315deg,
            hsl(0deg 0% 21%) 0%,
            hsl(210deg 2% 25%) 8%,
            hsl(210deg 3% 29%) 17%,
            hsl(210deg 4% 33%) 25%,
            hsl(210deg 5% 37%) 33%,
            hsl(209deg 5% 41%) 42%,
            hsl(209deg 6% 45%) 50%,
            hsl(209deg 7% 50%) 58%,
            hsl(209deg 8% 54%) 67%,
            hsl(209deg 11% 59%) 75%,
            hsl(209deg 13% 63%) 83%,
            hsl(209deg 17% 68%) 92%,
            hsl(209deg 22% 72%) 100%
        );
    }
}
.container2, .container3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 {
    width: 85%;
    height: 80%;

    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;

    backdrop-filter: blur(10px) saturate(147%);
    -webkit-backdrop-filter: blur(10px) saturate(147%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); 
}
.page {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.saboutpage {
    position: fixed;
    text-align: center;
    font-size: 24px;
}
.sskillpage {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sgoalpage {
    position: fixed;
    text-align: center;
    font-size: 24px;
}
.pheader {
    width: 85%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;


}
.pparagraph {
    width: 85%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.card2 {
    width: 95%;
    height: 80%;

    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;

    backdrop-filter: blur(10px) saturate(147%);
    -webkit-backdrop-filter: blur(10px) saturate(147%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
}
.header3 {
    width: 85%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph3 {
    width: 85%;
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sskillpage,
.sgoalpage {
    transform: translateX(150%);
    position: fixed;
}
.saboutclose {
    transform: translateX(150%);
}
.sskillopen {
    transform: translateX(0%)
}
.sgoalopen {
    transform: translateX(0%)
}
.snavOpen {
    transform: translateX(0%);
}
@media (min-width: 750px) {
    a.shide-desktop {
        display: none;
    }
    li.snavclose {
        display: none;
    }
    .sul {
        position: unset;
        background: none;
        width: 70%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: end;
        align-content: space-evenly;
        transform: translateX(0%);
        flex-direction: row;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        gap: .5em;

        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background-color: none;
        border-radius: none;
    }

    .li {
    height: 100%;
    width: 20%;

    display: flex;
    justify-content:center;
    align-items: center;
    }
    .liitems {
        backdrop-filter: blur(5px) saturate(200%);
        -webkit-backdrop-filter: blur(5px) saturate(200%);
        background-color: rgba(255, 255, 255, 0.46);

        border-radius: 59% 41% 62% 38% / 49% 51% 49% 51% ;
        filter: drop-shadow(0 10px 18px rgba(220, 244, 253, 0.863));
    }  

}
.snav {
    height: 100%;
    width: 20%;
    right: 0;
    position: absolute;

    display: flex;
    justify-content:center;
    align-items: center;
 
    backdrop-filter: blur(5px) saturate(200%);
    -webkit-backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 51% 49% 49% 51% / 61% 63% 37% 39%;
    filter: drop-shadow(0 10px 18px rgba(220, 244, 253, 0.863));

}












.content2, .subcontent11 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 50px;
    color: white;
        filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.863));
}
.subcontent12, .subcontent22 {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;

    filter: drop-shadow(0 10px 18px rgba(220, 244, 253, 0.863));
}
.subcontent12 {
    font-size: 90px;
    color: white;
}
.subcontent22 {
    font-size: 60px;
    color: white;
}
.content5 {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: 30px;
    color: white;
}










:root {
  --gradient-color: linear-gradient(180deg,
                  hsl(235, 4%, 75%) 0%,
                  hsl(235, 4%, 50%) 100%);
  --dark-color: hsl(235, 4%, 42%);
  --white-color: hsl(240, 3%, 16%);
  --body-color: hsl(235, 4%, 60%);
  --body-font: "Coda", system-ui;
  --normal-font-size: 40px;
}
.content6 {
  height: 10vh;
  display: flex;
  place-items: center;

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
}
a.text6 {
  text-decoration: none;
}
.text6 {
  background: var(--gradient-color);
  color: var(--white-color);
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  box-shadow: inset 0 -2px 2px var(--dark-color), 
              inset 0 2px 2px var(--white-color), 
              0 18px 14px -14px var(--white-color), 
              -24px 40px 48px hsla(50, 30%, 4%, 0.6);
  transition: box-shadow .2s linear;
}
.text6 i {
  font-size: 1.5rem;
  filter: drop-shadow(0 0 4px var(--white-color));
}




.tcontainer {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.tcard {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.tcard > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.tcard > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.tcard > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.tcard[for="c1"] {
    background-image: url('./image1.jpg');
}
.tcard[for="c2"] {
    background-image: url('./image2.jpg');
}
.tcard[for="c3"] {
    background-image: url('./image3.jpg');
}
.tcard[for="c4"] {
    background-image: url('./image4.jpg');
}


.pheader, .header, .pparagraph {
    color: white;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sback {
  width: clamp(40px, 5vw, 70px);
  height: auto;
  opacity: 40%;
}

.scontact {
    filter: drop-shadow(0 10px 18px rgba(220, 244, 253, 0.863));
}
.image1 {
    width: 80%;
    height: 100%;
    justify-content: start;
    z-index: -3;
    position: absolute;

    right: 0;

}
.pcontainer2 {
    width: 60%;
    right: 0;

    display: flex;
    align-items: center;
    position: absolute;

}
.paragraph1 {
    height: 80%;
    width: 95%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;

    backdrop-filter: blur(10px) saturate(147%);
    -webkit-backdrop-filter: blur(10px) saturate(147%);
    background-color: rgba(17, 25, 40, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); 
}