body {
    background-image: url("../zaki/zakibackground.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.zakipage {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    margin: 0;
    color: black;
}
.marginzaki {
    margin: 2em;
    .zakipage-close {
        font-family: "Odibee Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    a.zakiback {
        color: #AC9689;
        text-decoration: none;
        font-size: 40px;
        &:hover {
                color: #574d47;
            }
    }
    a.ContactZaki {
        text-decoration: none;
        font-family: "Molle", cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 36px;
        margin-top: 1em;
        filter: drop-shadow(0 10px 18px rgba(0,0,0,0.30));
        &:hover {
            background: #7e5750;
            color: #bdbdbd;
        }
    }
}
.zakihead {
    display: flex;
    justify-content: space-between;
}
.zakiul {
    background: #e9baba;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    padding: 2em;
    transform: translateX(100%);
    margin-right: 1em;

    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
}
.zakinavOpen {
    transform: translateX(0%);
}
.zakili {
    margin: 2em 0;

    &:nth-of-type(1) {
        margin-bottom: 2em;
    }

    a.zaki {
        color: aliceblue;
        text-decoration: none;
        font-size: 28px;
        background: #DA8F82;
        width: 120px;
        height: 40px;
        box-sizing: border-box;
        display: block;
        text-align: center;
        border-radius: .3em;

        &:hover {
            color: darkgrey;
            background: #bb8177;
        }
    }
}
.zakimain {
    text-align: center;
}
.zakiheader, .zakiiam {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    width: 35%;
}
.zakihead1 {
    display: flex;
    margin: 0 auto;
    gap: 1px;
    text-align: left;

    .zakiname {
        font-family: "IM Fell English", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 72px;
    }
}
.zakisubhead {
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
a.ContactZaki {
    background: #DA8F82;
    width: 30%;
    height: 20%;
    box-sizing: border-box;
    display: block;
    text-align: center;
    color: #f5f5f5;
    border-radius: .3em;
}
.IllustrationZaki {
    position: relative;
    height: 300px;
    width: 100%;
    img.zaki {
        width: 70%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 750px) {
    .marginzaki {
        margin: 0 1em;
    }
    .hide-desktopzaki {
        display: none;
    }
    .zakiul {
        position: unset;
        background: none;
        display: flex;
        gap: 40px;
        height: auto;
        width: auto;
        transform: translateX(0%);
        zakili {
            font-size: 48;
        }
    }
    .zakipage-close {
        margin: 4em;
    }
}
@media (min-width: 950px) {
    .zakiheader, .zakihead1, .zakisubhead {
        text-align: left;
    }
    .zakihead {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .zakimain {
        width: 40%;
        margin-left: 7em;
        margin-top: 4em;
        margin-right: 0;
    }
    .IllustrationZaki {
        position: absolute;
        z-index: -1;
        width: 819px;
        height: auto;
        top: 0;
        right: 0;
        margin: 0;
        margin-top: 0;
    }
    .zakipfp {
        margin-top: 0;
    }
}
.zakiaboutpage {
    text-align: center;
    margin: 6em;
    margin-top: 2em;
    .zakiaboutcontent {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    }
}
.zakiskillpage {
    text-align: center;
    margin: 6em;
    margin-top: 1em;
    .zakiskillcontent {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    }
}
.zakigoalpage {
    text-align: center;
    margin: 6em;
    margin-top: 2em;
    .zakigoalcontent {
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    }
}
.zakiintropage {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 9em;
    margin-left: 1.5em;
}
.zakiaboutpage,
.zakiskillpage,
.zakigoalpage {
    transform: translateX(150%);
    position: fixed; 
}
.zakiintroclose {
    transform: translateX(150%);
}
.zakiaboutopen {
    transform: translateX(0%)
}
.zakiskillopen {
    transform: translateX(0%)
}
.zakigoalopen {
    transform: translateX(0%)
}